
<head>
<link href="/css/main.css" rel="stylesheet">
<title>
Tricia's Math App
</title>
</head>

<body>
	<div class = "center-body">	
		<%=yield%>
	</div>
</body>


<footer>
	<div class="footer-text"> 
		Tricia's Math App
		<br>
		Created by Tricia Hoover
		<br>
		Lewisburg, WV
	</div>
</footer>
