<script src="/js/scripts.js">
</script>

Please 1 number, an action and another number

<form method="post" action="results" id="number_input">
	<input type= "number" name="num1_provided" required>
	<input type= "text" name="action_provided" required>
	<input type= "number" name="num2_provided" required>

	<input type = "submit"> 
	<!-- puts "#{num1_provided} #[action_provided] #{num2_provided} "= num1_provided action_provided num2_provided" 
	<button type="submit"  onclick="result()"> Click for math result<button> -->
</form>