<script src="/js/scripts.js">
</script>

Please 1 number, an action and another number

<form method="post" action="results" id="number_input">
	<input type= "number" name="num1_provided" required>
	<input type= "text" name="action_provided" required>
	<input type= "number" name="num2_provided" required>
	<button = "submit"> Try It! </button>
</form>